# Appendix Notebook: Supporting Data and Visuals
This notebook provides the supporting data views and visuals referenced in the one-page appendix and report.

Artifacts referenced:
- Prompt: `docs/prompt.xml`
- Report: `docs/report.md`
- Appendix: `docs/appendix.md`
- Data: `data/*.csv`
- Charts (Vega-Lite specs): `charts/vega-lite/*.vl.json`
- Tables: `charts/tables/summary_tables.md`

## Environment setup
This notebook expects Python 3.9+ with pandas and altair. If missing, the next cell will attempt to install dependencies into the current environment.

In [8]:
# Install required packages if missing
import sys, subprocess
def ensure(pkgs):
    for p in pkgs:
        try:
            __import__(p)
        except ImportError:
            subprocess.check_call([sys.executable, '-m', 'pip', 'install', p, '-q'])

ensure(['pandas', 'altair'])
print('Dependencies ready.')

Dependencies ready.

In [9]:
# Imports and paths
from pathlib import Path
import json
import pandas as pd
import altair as alt

# Enable default renderer in notebooks
alt.renderers.enable('default')

# Notebook is expected to be in docs/. Data and charts are one level up.
ROOT = Path.cwd().parent if Path.cwd().name == 'docs' else Path.cwd()
DATA_DIR = ROOT / 'data'
VL_DIR = ROOT / 'charts' / 'vega-lite'
TABLES_DIR = ROOT / 'charts' / 'tables'

DATA_DIR, VL_DIR, TABLES_DIR

(PosixPath('/Users/jiaming/Business/Business Analytic/Intro to Py for Data Analysis & AI/Project 2/Prompt-with-LLMs/healthguard-mental-health-claims-analysis/data'),
 PosixPath('/Users/jiaming/Business/Business Analytic/Intro to Py for Data Analysis & AI/Project 2/Prompt-with-LLMs/healthguard-mental-health-claims-analysis/charts/vega-lite'),
 PosixPath('/Users/jiaming/Business/Business Analytic/Intro to Py for Data Analysis & AI/Project 2/Prompt-with-LLMs/healthguard-mental-health-claims-analysis/charts/tables'))

In [10]:
# Load datasets
claims_path = DATA_DIR / 'claims_sample.csv'
approvals_path = DATA_DIR / 'approvals_by_region_sample.csv'
demo_path = DATA_DIR / 'demographics_sample.csv'

claims = pd.read_csv(claims_path)
approvals_by_region = pd.read_csv(approvals_path)
demographics = pd.read_csv(demo_path)

print('Shapes:', claims.shape, approvals_by_region.shape, demographics.shape)
claims.head(3)

Shapes: (30, 7) (10, 2) (10, 10)

,ClaimID,PatientID,ClaimDate,ClaimAmount,Diagnosis,ProviderType,Region
0,1,1001,2023-01-15,1500,Anxiety,Individual,Sydney
1,2,1002,2023-02-20,2000,Depression,Group,Regional NSW
2,3,1003,2023-03-10,1200,Anxiety,Individual,Sydney

In [11]:
# Quick peeks
display(approvals_by_region.head(3))
display(demographics.head(3))

         Region  Approval Rate (%)
0        Sydney                 85
1  Regional NSW                 62
2     Melbourne                 78

,PatientID,Age,Gender,Income,EmploymentStatus,Region,EducationLevel,MentalHealthDiagnosis,TreatmentType,TreatmentDuration
0,1,25,Female,55000,Employed,Sydney,Bachelor’s,Anxiety,Therapy,12
1,2,34,Male,72000,Employed,Regional NSW,Master’s,Depression,Medication,24
2,3,45,Female,48000,Unemployed,Sydney,High School,Anxiety,Therapy,6

## Summary tables (from charts/tables/summary_tables.md)

In [12]:
# Render the markdown summary table inside the notebook
from IPython.display import Markdown, display
summary_md_path = TABLES_DIR / 'summary_tables.md'
if summary_md_path.exists():
    display(Markdown(summary_md_path.read_text(encoding='utf-8')))
else:
    print('summary_tables.md not found at', summary_md_path)

## Charts from existing Vega-Lite specs
These cells read the Vega-Lite JSON specs shipped in the repo and render them inline using Altair.

In [13]:
# Claims trend visualization
claims_spec_path = VL_DIR / 'claims_trend.vl.json'
if claims_spec_path.exists():
    spec = json.loads(claims_spec_path.read_text(encoding='utf-8'))
    chart = alt.Chart.from_dict(spec)
    chart
else:
    print('Vega-Lite spec not found:', claims_spec_path)

In [14]:
# Regional approval rates visualization
regional_spec_path = VL_DIR / 'regional_approval_rates.vl.json'
if regional_spec_path.exists():
    spec = json.loads(regional_spec_path.read_text(encoding='utf-8'))
    chart = alt.Chart.from_dict(spec)
    chart
else:
    print('Vega-Lite spec not found:', regional_spec_path)

## Notes
- Paths are resolved relative to this notebook's location in `docs/`.
- For richer analysis (attribution of the 40% increase, variance decomposition, fairness metrics), extend this notebook with modeling cells.